<div id="<%= dom_id internet %>">
  <p>
    <strong>Company:</strong>
    <%= internet.company %>
  </p>

  <p>
    <strong>Consumerid:</strong>
    <%= internet.consumerId %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= internet.customer_id %>
  </p>

</div>
