<p style="color: green"><%= notice %></p>

<h1>Internets</h1>

<div id="internets">
  <% @internets.each do |internet| %>
    <%= render internet %>
    <p>
      <%= link_to "Show this internet", internet %>
    </p>
  <% end %>
</div>

<%= link_to "New internet", new_internet_path %>
