<div id="<%= dom_id invoice %>">
  <p>
    <strong>Date:</strong>
    <%= invoice.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= invoice.amount %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= invoice.company %>
  </p>

</div>
