<div id="<%= dom_id water %>">
  <p>
    <strong>Company:</strong>
    <%= water.company %>
  </p>

  <p>
    <strong>Consumerid:</strong>
    <%= water.consumerId %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= water.customer_id %>
  </p>

</div>
