<div id="<%= dom_id suiga %>">
  <p>
    <strong>Company:</strong>
    <%= suiga.company %>
  </p>

  <p>
    <strong>Consumerid:</strong>
    <%= suiga.consumerId %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= suiga.customer_id %>
  </p>

</div>
