<div id="<%= dom_id electricity %>">
  <p>
    <strong>Company:</strong>
    <%= electricity.company %>
  </p>

  <p>
    <strong>Consumerid:</strong>
    <%= electricity.consumerId %>
  </p>

  

</div>
